POSTGRES_DB=posbabysofia_db
POSTGRES_USER=posbabysofia_user
POSTGRES_PASSWORD=change_this_password

JWT_SECRET=
JWT_EXPIRES_IN=8h

POSTGRES_PORT=5433
API_PORT=3000

DB_HOST=postgres
DB_PORT=5432
DB_NAME=posbabysofia_db
DB_USER=posbabysofia_user
DB_PASSWORD=change_this_password

SUPER_ADMIN_EMAIL=superadmin@babysofia.com
SUPER_ADMIN_PASSWORD=
ADMIN_EMAIL=admin@babysofia.com
ADMIN_PASSWORD=