POSTGRES_DB=posbabysofia_db
POSTGRES_USER=posbabysofia_user
POSTGRES_PASSWORD=change_this_password

POSTGRES_PORT=5433
API_PORT=3000

DB_HOST=postgres
DB_PORT=5432
DB_NAME=posbabysofia_db
DB_USER=posbabysofia_user
DB_PASSWORD=change_this_password